.login-content{
  display: flex;
  height: 500px;
  background: linear-gradient(white,#d3d8e8);
}
.mapimage{
  margin-top: 100px;
  margin-left: 100px
}
.label-app{
  font-weight: bolder;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.app-signup{
  margin-left: 180px;
}